
        /* Adajacent Selector */
        div + p {
            color: brown;
        }

        /* General Sibling selector */
        div ~ p{
            color: rgb(33, 33, 235);
        }
/*  */
        .fixed {
            position: fixed;
            bottom: 0% ;
        }
        /*  */
        .relative{
            position: relative;
            top: 0%;
        }
.image {
    position: relative;
}
.topleft {
    position: absolute;
    top: 0;
    left: 0;



}


     